

<h2><%= @album.title %> by <%= @album.band.name %></h2>
    <ul>
        <% @album.attributes.each do |k,v| %>
            <li><%= k %>: <%= v %></li>
        <% end %>
    </ul> 

<h3>Options</h3>
<div class="bucket">
    <form action="<%= album_url %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <%= auth_token %>
        <input type="submit" value="lose album"  class="button">
    </form>
    <a href="<%= edit_album_url(@album) %>" class="button">edit album</a>
    <a href="<%= band_url(@album.band) %>" class="button">Back to <%= @album.band.name %></a>
</div>
